{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block content %}
<h1>Complete Your Purchase</h1>
<div id="loading-overlay" class="loading-overlay d-none">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<form id="payment-form" method="POST" action="{% url 'checkout' %}">
    {% csrf_token %}
    <input type="hidden" id="id_stripe_public_key" value="{{ stripe_public_key }}">
    <input type="hidden" id="id_client_secret" value="{{ client_secret }}">
    <input type="hidden" name="save_info" id="id-save-info">

    <input type="hidden" id="id_stripe_public_key" value="{{ stripe_public_key }}">
    <input type="hidden" id="id_client_secret" value="{{ client_secret }}">


    <fieldset>
        <legend>Details</legend>
        <div class="form-group">
            <label for="full_name">Full Name</label>
            <input type="text" id="full_name" name="full_name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
    </fieldset>

    <fieldset>
        <legend>Delivery</legend>
        <div class="form-group">
            <label for="phone_number">Phone Number</label>
            <input type="tel" id="phone_number" name="phone_number" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="street_address1">Street Address 1</label>
            <input type="text" id="street_address1" name="street_address1" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="street_address2">Street Address 2</label>
            <input type="text" id="street_address2" name="street_address2" class="form-control">
        </div>
        <div class="form-group">
            <label for="town_or_city">Town or City</label>
            <input type="text" id="town_or_city" name="town_or_city" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="postcode">Postal Code</label>
            <input type="text" id="postcode" name="postcode" class="form-control" required>
        </div>
        <!-- <div class="form-group">
            <label for="country">Country</label>
            <select id="country" name="country" class="form-control" required>
                <!-- Country options go here -->
        <!-- </select> -->
        <!-- </div> --> -->
        <div class="form-group">
            <label for="county">County</label>
            <input type="text" id="county" name="county" class="form-control">
        </div>
    </fieldset>

    <fieldset>
        <legend>Payment</legend>
        <div id="card-element" class="form-group my-4">
            <!-- A Stripe Element will be inserted here -->
        </div>
        <div id="card-errors" role="alert"></div>
    </fieldset>

    <div class="submit-button">
        <button id="submit-button" class="btn btn-primary">Pay Now</button>
    </div>
</form>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}