:root {
    --primary-color: #6a211e; /* Caput mortuum */
    --secondary-color: #f1e0c3; /* Champagne */
    --accent-color: #d7c9bd; /* Almond */
    --text-color: #333; /* Dark Text */
    --background-color: #d0dce5; /* Columbia blue */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    background: url('/media/cake-banner.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1; /* This makes the content area expand to fill the space */
}

footer {
    background-color: var(--secondary-color); /* Using new colors */
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Makes footer stay on the bottom */
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* makes the main content take up all available space */
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button,
.btn-black {
    background-color: var(--primary-color);
    color: #fff;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background-color: var(--accent-color);
    color: white;
}

.text-black {
    color: var(--text-color) !important;
}

.border-black {
    border: 1px solid var(--primary-color) !important;
}

/* Logo styling */
.logo-img {
    height: 50px;
    /* Adjust as needed */
}

/* Navbar links */
.nav-link {
    margin-right: 15px;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar {
    background-color: var(--secondary-color);
}

.navbar-brand {
    margin-right: 30px;
}

.navbar .btn {
    margin-left: 10px;
}

.nav-link:hover {
    color: var(--accent-color);
    /* Change hover color */
}

/* Button hover effects */
.btn-outline-secondary {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.btn-outline-secondary:hover {
    background-color: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

/* Search bar */
input[type="search"] {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    color: var(--text-color);
}

/* Shopping cart */
.shopping-cart .basket-total {
    font-size: 14px;
    color: var(--text-color);
}

/* Hover effect on shopping cart */
.shopping-cart a:hover .bi-cart-fill {
    color: var(--accent-color);
}

/* Adjust the container-fluid spacing if needed */
.container-fluid {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Logout link */
.logout-link {
    color: var(--primary-color);
    text-decoration: underline;
}

.logout-link:hover {
    color: var(--accent-color);
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
