{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Our Products</h1>
    {% for Product in Products %}
        <div class="product-item mb-4">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>Category: {{ product.category }}</p>
            <p>Price: €{{ product.price }}</p>
            <img src="{{ product.image.url }}" alt="{{ Product.name }}" style="max-width: 100%; height: auto;">
            <a href="{% url 'order_create' %}" class="btn btn-primary mt-2">Order</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
